@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-style: normal;
}

.box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.button-area-pro h2{
    width: 100%;
    height: 10%;
    font-size: 50px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn-resi{
    height: 640px;
    width: 1122px;
    padding: 20px 35px;
    background-image: url(img_residential.jpg);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-resi i{
    font-size: 50px;
    display: flex;
    text-align: center;
    margin: 25px 0px;
    color: #fff;
}

.btn-resi .button{
    background-color: #081b29;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    display: flex;
}

.btn-resi a:hover {
    background-color: dodgerblue;
    color: #081b29;
}

.btn-roam{
    height: 640px;
    width: 1122px;
    padding: 20px 35px;
    background-image: url(img_roaming1.jpg);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-roam i{
    font-size: 50px;
    display: flex;
    text-align: center;
    margin: 25px 0px;
    color: #fff;
}

.btn-roam .button{
    background-color: #081b29;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    display: flex;
}

.btn-roam a:hover {
    background-color: dodgerblue;
    color: #081b29;
}

.btn-boat{
    height: 640px;
    width: 1122px;
    padding: 20px 35px;
    background-image: url(img_boats.jpg);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-boat i{
    font-size: 50px;
    display: flex;
    text-align: center;
    margin: 25px 0px;
    color: #fff;
}

.btn-boat .button{
    background-color: #081b29;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    display: flex;
    letter-spacing: 1;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
}

.btn-boat a:hover {
    background-color: dodgerblue;
    color: #081b29;
}

h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}