@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #081b29;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    width: 100vw;
    color: white;
}

.navbar {
    height: 12%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.area-logo {
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.area-logo a {
    text-decoration: none;
    color: white;
}

.nav-item ul {
    list-style: none;
}

.nav-item ul li {
    display: inline;
    margin: 12px;
}
.nav-item ul li :hover {
    text-decoration: underline;
}

.nav-item ul li a {
    text-decoration: none;
    color: white;
}

.area-copyright {
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    display: inline;
    color: white;
}

.area-copyright a {
    text-decoration: none;
    color: white;
}

.area-social ul {
    list-style: none;
    padding-left: 0px;
}

.area-social ul li {
    display: inline;
    margin: 8px;
}

.area-social ul li a {
    text-decoration: none;
    color: white;
}

.footer-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20vh;
}

.footer-header h1 {
    margin-bottom: 2px;
    color: white;
}

.footer-header p {
    font-weight: 100;
    font-size: large;
    color: white;
}

.area-service {
    height: 30%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.area-service input {
    padding: 5px;
    font-size: 20px;
    border: solid;
    border-radius: 5px;
    width: 20%;
}

.btn-order {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: #081b29;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; 
}

.btn-order:hover { 
    background-color: #081b29;
    color: white;
}